// Self-hosted fonts

@font-face {
  font-family: 'Montserrat';
  src: url('../../../../themes/brantt/src/fonts/montserrat.ttf') format('ttf');
  font-weight: 1 999;
  font-display: swap;
}

// stylelint-disable rem-over-px/rem-over-px
// CSS Variables for responsive fonts
:root {
  // Defined font families, replace these with your own
  --typography-family-heading: 'Montserrat', sans-serif;

  --typography-family-main: 'Roboto', sans-serif;

  // Contexts where the fonts are used, replace this with the families defined above
  --typography-family-paragraph: var(--typography-family-main);
  // --typography-family-heading: var(--typography-family-heading);

  // Heading font sizes
  --typography-size-hero: #{px-to-rem(52)};
  --typography-size-h1: #{px-to-rem(52)};
  --typography-size-h2: #{px-to-rem(48)};
  --typography-size-h3: #{px-to-rem(26)};
  --typography-size-h4: #{px-to-rem(22)};
  --typography-size-h5: #{px-to-rem(16)};
  --typography-size-h6: #{px-to-rem(14)};

  // Paragraph font sizes
  --typography-size-12: #{px-to-rem(12)};
  --typography-size-13: #{px-to-rem(13)};
  --typography-size-14: #{px-to-rem(14)};
  --typography-size-15: #{px-to-rem(15)};
  --typography-size-16: #{px-to-rem(16)};
  --typography-size-17: #{px-to-rem(17)};
  --typography-size-18: #{px-to-rem(19)};
  --typography-size-20: #{px-to-rem(20)};
  --typography-size-22: #{px-to-rem(22)};

  // Element font sizes
  --typography-paragraph-size: var(--typography-size-18);
  --typography-nav-toggle-label-size: #{px-to-rem(15)};
  --typography-captions-size: #{px-to-rem(15)};

  // Line-heights
  --typography-heading-line-height: 1.5;
  --typography-heading-core-line-height: 1.23;
  --typography-paragraph-line-height: 1.7;

  // Font weights
  --typography-weight-regular: 400;
  --typography-weight-medium: 500;
  --typography-weight-semibold: 600;
  --typography-weight-bold: 700;
  --typography-weight-paragraph: var(--typography-weight-regular);
  --typography-weight-heading: var(--typography-weight-bold);

  // Heading font sizes in mobile
  @include media-breakpoint-down(md) {
    --typography-size-hero: #{px-to-rem(38)};
    --typography-size-h1: #{px-to-rem(32)};
    --typography-size-h2: #{px-to-rem(24)};
    --typography-size-h3: #{px-to-rem(21)};
    --typography-size-h4: #{px-to-rem(18)};
    --typography-size-h5: #{px-to-rem(14)};
    --typography-size-h6: #{px-to-rem(12)};
    --typography-paragraph-size: #{px-to-rem(16)};
  }

  // Element font sizes in tiny phones like iPhone 5S
  @include media-breakpoint-down(sm) {
    --typography-size-16: #{px-to-rem(14)};
    --typography-nav-toggle-label-size: #{px-to-rem(13)};
  }
}
